{% extends 'base.html' %}

{% block page_title %}
    Карточки дней
{% endblock %}

{% block main_container %}





    <div class="container-md">
    <div><a href="{% url 'cards:index' %}">На главную</a></div>
        <ul>
            {% for card in card_list %}
                <li>
{#                    <a href="/cards/{{ card.id }}/">{{ card }}</a>#}
                    <a href="{{ card.get_absolute_url }}">{{ card }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}