{% extends 'base.html' %}

{% block page_title %}
    Карточки дней
{% endblock %}


{% block main_container %}



    <div>
        <p>
            <a href="/cards/">Ко всем карточкам</a>
        </p>
    </div>
    <h2>{{ card.title }}</h2>
    <div class="card" style="width: 24rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">

            <p class="card-text">{{ card.body }}</p>
        </div>
      <div class="card-body">
    <a href="/cards/{{ card.id }}" class="card-link">Предыдущий день</a>
    <a href="/cards/{{ card.id }}" class="card-link">Следующий день</a>
  </div>
    </div>

{% endblock %}